info:
  contact:
    email: support@getconvoy.io
    name: Convoy Support
    url: https://getconvoy.io/docs
  description: Convoy is a fast and secure webhooks proxy. This document contains s API specification.
  license:
    name: Mozilla Public License 2.0
    url: https://www.mozilla.org/en-US/MPL/2.0/
  termsOfService: https://getconvoy.io/terms
  title: Convoy API Reference
  version: 24.1.4
openapi: 3.0.3
servers:
  - url: https://dashboard.getconvoy.io/api
tags:
  - description: Subscription related APIs
    name: Subscriptions
  - description: Endpoint related APIs
    name: Endpoints
  - description: Event related APIs
    name: Events
  - description: Source related APIs
    name: Sources
  - description: EventDelivery related APIs
    name: Event Deliveries
  - description: Portal Links related APIs
    name: Portal Links
  - description: Meta Events related APIs
    name: Meta Events
paths:
  /v1/projects/{projectID}/endpoints/{endpointID}/pause:
    put:
      description: Toggles an endpoint's status between active and paused states
      operationId: PauseEndpoint
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: Endpoint ID
          in: path
          name: endpointID
          required: true
          schema:
            type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EndpointResponse'
                    type: object
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Pause endpoint
      tags:
        - Endpoints
  /v1/projects/{projectID}/event-types:
    get:
      description: This endpoint fetches the project's event types
      operationId: GetEventTypes
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        items:
                          $ref: '#/components/schemas/EventTypeResponse'
                        type: array
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieves a project's event types
      tags:
        - EventTypes
    post:
      description: This endpoint creates an event type
      operationId: CreateEventType
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventType'
        description: Event Type Details
        required: true
        x-originalParamName: eventType
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventTypeResponse'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Create an event type
      tags:
        - EventTypes
  /v1/projects/{projectID}/event-types/{eventTypeID}:
    put:
      description: This endpoint updates an event type
      operationId: UpdateEventType
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: Event Type ID
          in: path
          name: eventTypeID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventType'
        description: Event Type Details
        required: true
        x-originalParamName: eventType
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventTypeResponse'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Updates an event type
      tags:
        - EventTypes
  /v1/projects/{projectID}/event-types/{eventTypeId}/deprecate:
    post:
      description: This endpoint deprecates an event type
      operationId: DeprecateEventType
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: Event Type ID
          in: path
          name: eventTypeId
          required: true
          schema:
            type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventTypeResponse'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Deprecates an event type
      tags:
        - EventTypes
  /v1/projects/{projectID}/event-types/import:
    post:
      description: This endpoint imports event types from an OpenAPI specification
      operationId: ImportOpenApiSpec
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportOpenAPISpec'
        description: OpenAPI specification
        required: true
        x-originalParamName: spec
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        items:
                          $ref: '#/components/schemas/EventTypeResponse'
                        type: array
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Import event types from OpenAPI spec
      tags:
        - EventTypes
  /v1/projects/{projectID}/eventdeliveries:
    get:
      description: This endpoint retrieves all event deliveries paginated.
      operationId: GetEventDeliveriesPaged
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: The end date
          in: query
          name: endDate
          schema:
            type: string
        - description: A list of endpoint IDs to filter by
          in: query
          name: endpointId
          schema:
            items:
              type: string
            type: array
        - description: Event ID to filter by
          in: query
          name: eventId
          schema:
            type: string
        - description: EventType to filter by
          in: query
          name: event_type
          schema:
            type: string
        - description: IdempotencyKey to filter by
          in: query
          name: idempotencyKey
          schema:
            type: string
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
        - description: The start date
          in: query
          name: startDate
          schema:
            type: string
        - description: A list of event delivery statuses to filter by
          in: query
          name: status
          schema:
            items:
              type: string
            type: array
        - description: SubscriptionID to filter by
          in: query
          name: subscriptionId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/PagedResponse'
                          - properties:
                              content:
                                items:
                                  $ref: '#/components/schemas/EventDeliveryResponse'
                                type: array
                            type: object
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: List all event deliveries
      tags:
        - Event Deliveries
  /v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}:
    get:
      description: This endpoint fetches an event delivery.
      operationId: GetEventDelivery
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: event delivery id
          in: path
          name: eventDeliveryID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventDeliveryResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieve an event delivery
      tags:
        - Event Deliveries
  /v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/deliveryattempts:
    get:
      description: This endpoint fetches an app message's delivery attempts
      operationId: GetDeliveryAttempts
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: event delivery id
          in: path
          name: eventDeliveryID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        items:
                          $ref: '#/components/schemas/DeliveryAttempt'
                        type: array
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: List delivery attempts
      tags:
        - Delivery Attempts
  /v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/deliveryattempts/{deliveryAttemptID}:
    get:
      description: This endpoint fetches an app event delivery attempt
      operationId: GetDeliveryAttempt
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: event delivery id
          in: path
          name: eventDeliveryID
          required: true
          schema:
            type: string
        - description: delivery attempt id
          in: path
          name: deliveryAttemptID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/DeliveryAttempt'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieve a delivery attempt
      tags:
        - Delivery Attempts
  /v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/resend:
    put:
      description: This endpoint retries an event delivery.
      operationId: ResendEventDelivery
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: event delivery id
          in: path
          name: eventDeliveryID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventDeliveryResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retry event delivery
      tags:
        - Event Deliveries
  /v1/projects/{projectID}/eventdeliveries/batchretry:
    post:
      description: This endpoint batch retries multiple event deliveries at once.
      operationId: BatchRetryEventDelivery
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: The end date
          in: query
          name: endDate
          schema:
            type: string
        - description: A list of endpoint IDs to filter by
          in: query
          name: endpointId
          schema:
            items:
              type: string
            type: array
        - description: Event ID to filter by
          in: query
          name: eventId
          schema:
            type: string
        - description: EventType to filter by
          in: query
          name: event_type
          schema:
            type: string
        - description: IdempotencyKey to filter by
          in: query
          name: idempotencyKey
          schema:
            type: string
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
        - description: The start date
          in: query
          name: startDate
          schema:
            type: string
        - description: A list of event delivery statuses to filter by
          in: query
          name: status
          schema:
            items:
              type: string
            type: array
        - description: SubscriptionID to filter by
          in: query
          name: subscriptionId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Batch retry event delivery
      tags:
        - Event Deliveries
  /v1/projects/{projectID}/eventdeliveries/forceresend:
    post:
      description: This endpoint enables you retry a previously successful event delivery
      operationId: ForceResendEventDeliveries
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IDs'
        description: event delivery ids
        required: true
        x-originalParamName: deliveryIds
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Force retry event delivery
      tags:
        - Event Deliveries
  /v1/projects/{projectID}/events:
    get:
      description: This endpoint fetches app events with pagination
      operationId: GetEventsPaged
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: The end date
          in: query
          name: endDate
          schema:
            type: string
        - description: A list of endpoint ids to filter by
          in: query
          name: endpointId
          schema:
            items:
              type: string
            type: array
        - description: IdempotencyKey to filter by
          in: query
          name: idempotencyKey
          schema:
            type: string
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: Any arbitrary value to filter the events payload
          in: query
          name: query
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
        - description: A list of Source IDs to filter the events by.
          in: query
          name: sourceId
          schema:
            items:
              type: string
            type: array
        - description: The start date
          in: query
          name: startDate
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/PagedResponse'
                          - properties:
                              content:
                                items:
                                  $ref: '#/components/schemas/EventResponse'
                                type: array
                            type: object
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: List all events
      tags:
        - Events
    post:
      description: This endpoint creates an endpoint event
      operationId: CreateEndpointEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEvent'
        description: Event Details
        required: true
        x-originalParamName: event
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Create an event
      tags:
        - Events
  /v1/projects/{projectID}/events/{eventID}:
    get:
      description: This endpoint retrieves an event
      operationId: GetEndpointEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: event id
          in: path
          name: eventID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieve an event
      tags:
        - Events
  /v1/projects/{projectID}/events/{eventID}/replay:
    put:
      description: This endpoint replays an event afresh assuming it is a new event.
      operationId: ReplayEndpointEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: event id
          in: path
          name: eventID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Replay event
      tags:
        - Events
  /v1/projects/{projectID}/events/batchreplay:
    post:
      description: This endpoint replays multiple events at once.
      operationId: BatchReplayEvents
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: The end date
          in: query
          name: endDate
          schema:
            type: string
        - description: A list of endpoint ids to filter by
          in: query
          name: endpointId
          schema:
            items:
              type: string
            type: array
        - description: IdempotencyKey to filter by
          in: query
          name: idempotencyKey
          schema:
            type: string
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: Any arbitrary value to filter the events payload
          in: query
          name: query
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
        - description: A list of Source IDs to filter the events by.
          in: query
          name: sourceId
          schema:
            items:
              type: string
            type: array
        - description: The start date
          in: query
          name: startDate
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        type: string
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Batch replay events
      tags:
        - Events
  /v1/projects/{projectID}/events/broadcast:
    post:
      description: This endpoint creates a event that is broadcast to every endpoint whose subscription matches the given event type.
      operationId: CreateBroadcastEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastEvent'
        description: Broadcast Event Details
        required: true
        x-originalParamName: event
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/EventResponse'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Create a broadcast event
      tags:
        - Events
  /v1/projects/{projectID}/events/dynamic:
    post:
      description: This endpoint does not require creating endpoint and subscriptions ahead of time. Instead, you supply the endpoint and the payload, and Convoy delivers the events
      operationId: CreateDynamicEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicEvent'
        description: Event Details
        required: true
        x-originalParamName: event
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Dynamic Events
      tags:
        - Events
  /v1/projects/{projectID}/events/fanout:
    post:
      description: This endpoint uses the owner_id to fan out an event to multiple endpoints.
      operationId: CreateEndpointFanoutEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FanoutEvent'
        description: Event Details
        required: true
        x-originalParamName: event
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Fan out an event
      tags:
        - Events
  /v1/projects/{projectID}/meta-events:
    get:
      description: This endpoint fetches meta events with pagination
      operationId: GetMetaEventsPaged
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: The end date
          in: query
          name: endDate
          schema:
            type: string
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
        - description: The start date
          in: query
          name: startDate
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/PagedResponse'
                          - properties:
                              content:
                                items:
                                  $ref: '#/components/schemas/MetaEventResponse'
                                type: array
                            type: object
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: List all meta events
      tags:
        - Meta Events
  /v1/projects/{projectID}/meta-events/{metaEventID}:
    get:
      description: This endpoint retrieves a meta event
      operationId: GetMetaEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: meta event id
          in: path
          name: metaEventID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/MetaEventResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieve a meta event
      tags:
        - Meta Events
  /v1/projects/{projectID}/meta-events/{metaEventID}/resend:
    put:
      description: This endpoint retries a meta event
      operationId: ResendMetaEvent
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: meta event id
          in: path
          name: metaEventID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/MetaEventResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retry meta event
      tags:
        - Meta Events
  /v1/projects/{projectID}/portal-links:
    get:
      description: This endpoint fetches multiple portal links
      operationId: LoadPortalLinksPaged
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The owner ID of the endpoint
          in: query
          name: ownerId
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: The name of the endpoint
          in: query
          name: q
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/PagedResponse'
                          - properties:
                              content:
                                items:
                                  $ref: '#/components/schemas/PortalLinkResponse'
                                type: array
                            type: object
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: List all portal links
      tags:
        - Portal Links
    post:
      description: This endpoint creates a portal link
      operationId: CreatePortalLink
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortalLink'
        description: Portal Link Details
        required: true
        x-originalParamName: portallink
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/PortalLinkResponse'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Create a portal link
      tags:
        - Portal Links
  /v1/projects/{projectID}/portal-links/{portalLinkID}:
    get:
      description: This endpoint retrieves a portal link by its id.
      operationId: GetPortalLink
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: portal link id
          in: path
          name: portalLinkID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/PortalLinkResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieve a portal link
      tags:
        - Portal Links
    post:
      description: This endpoint retrieves a portal link by its id.
      operationId: GeneratePortalToken
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: portal link id
          in: path
          name: portalLinkID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/PortalLinkResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Updates a portal link auth token
      tags:
        - Portal Links
    put:
      description: This endpoint updates a portal link
      operationId: UpdatePortalLink
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: portal link id
          in: path
          name: portalLinkID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortalLink'
        description: Portal Link Details
        required: true
        x-originalParamName: portallink
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/PortalLinkResponse'
                    type: object
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update a portal link
      tags:
        - Portal Links
  /v1/projects/{projectID}/portal-links/{portalLinkID}/refresh_token:
    get:
      description: This endpoint retrieves a portal link auth token
      operationId: RefreshPortalLinkAuthToken
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: portal link id
          in: path
          name: portalLinkID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        type: string
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Get a portal link auth token
      tags:
        - Portal Links
  /v1/projects/{projectID}/portal-links/{portalLinkID}/revoke:
    put:
      description: This endpoint revokes a portal link
      operationId: RevokePortalLink
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: portal link id
          in: path
          name: portalLinkID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Revoke a portal link
      tags:
        - Portal Links
  /v1/projects/{projectID}/sources:
    get:
      description: This endpoint fetches multiple sources
      operationId: LoadSourcesPaged
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: The custom source provider e.g. twitter, shopify
          in: query
          name: provider
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
        - description: The source type e.g. http, pub_sub
          in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/PagedResponse'
                          - properties:
                              content:
                                items:
                                  $ref: '#/components/schemas/SourceResponse'
                                type: array
                            type: object
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: List all sources
      tags:
        - Sources
    post:
      description: This endpoint creates a source
      operationId: CreateSource
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSource'
        description: Source Details
        required: true
        x-originalParamName: source
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SourceResponse'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Create a source
      tags:
        - Sources
  /v1/projects/{projectID}/sources/{sourceID}:
    delete:
      description: This endpoint deletes a source
      operationId: DeleteSource
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: source id
          in: path
          name: sourceID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete a source
      tags:
        - Sources
    get:
      description: This endpoint retrieves a source by its id
      operationId: GetSource
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: Source ID
          in: path
          name: sourceID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SourceResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieve a source
      tags:
        - Sources
    put:
      description: This endpoint updates a source
      operationId: UpdateSource
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: source id
          in: path
          name: sourceID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSource'
        description: Source Details
        required: true
        x-originalParamName: source
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SourceResponse'
                    type: object
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Update a source
      tags:
        - Sources
  /v1/projects/{projectID}/sources/test_function:
    post:
      description: This endpoint validates that a filter will match a certain payload structure.
      operationId: TestSourceFunction
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionRequest'
        description: Function Details
        required: true
        x-originalParamName: filter
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/FunctionResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Validate source function
      tags:
        - Sources
  /v1/projects/{projectID}/subscriptions:
    get:
      description: This endpoint fetches all the subscriptions
      operationId: GetSubscriptions
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - in: query
          name: direction
          schema:
            enum:
              - next
              - prev
            type: string
          x-enum-varnames:
            - Next
            - Prev
        - description: A list of endpointIDs to filter by
          in: query
          name: endpointId
          schema:
            items:
              type: string
            type: array
        - description: Subscription name to filter by
          in: query
          name: name
          schema:
            type: string
        - description: A pagination cursor to fetch the next page of a list
          in: query
          name: next_page_cursor
          schema:
            type: string
        - description: The number of items to return per page
          in: query
          name: perPage
          schema:
            type: integer
        - description: A pagination cursor to fetch the previous page of a list
          in: query
          name: prev_page_cursor
          schema:
            type: string
        - description: Sort order, values are `ASC` or `DESC`, defaults to `DESC`
          in: query
          name: sort
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/PagedResponse'
                          - properties:
                              content:
                                items:
                                  $ref: '#/components/schemas/SubscriptionResponse'
                                type: array
                            type: object
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: List all subscriptions
      tags:
        - Subscriptions
    post:
      description: This endpoint creates a subscriptions
      operationId: CreateSubscription
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscription'
        description: Subscription details
        required: true
        x-originalParamName: subscription
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SubscriptionResponse'
                    type: object
          description: Created
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Create a subscription
      tags:
        - Subscriptions
  /v1/projects/{projectID}/subscriptions/{subscriptionID}:
    delete:
      description: This endpoint deletes a subscription
      operationId: DeleteSubscription
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: subscription id
          in: path
          name: subscriptionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Delete subscription
      tags:
        - Subscriptions
    get:
      description: This endpoint retrieves a single subscription
      operationId: GetSubscription
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: subscription id
          in: path
          name: subscriptionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/SubscriptionResponse'
                    type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/Object'
                    type: object
          description: Not Found
      security:
        - BearerAuth: []
      summary: Retrieve a subscription
      tags:
        - Subscriptions
    put:
      description: This endpoint updates a subscription
      operationId: UpdateSubscription
      parameters:
        - description: Project ID
          in: path
          name: projectID
          required: true
          schema:
            type: string
        - description: subscription id
          in: path
[...]
